body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  line-height: 1;
  font-weight: 700;
}

h1, h2, h3, h4, h5, p {
  margin: 0 0 .8em;
}

a {
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

.blog__post__content {
  display: block;
}
.blog__post__content .blog__post__thumb {
  position: relative;
}
.blog__post__content .blog__post__thumb::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: rgba(0, 0, 0, 0.12);
  transition: all .5s ease-in;
}
.blog__post__content:hover .blog__post__thumb::before {
  background: transparent;
}

body.overlay-body .overlay-menu h3 {
  color: #fff;
}
